/* ------------------- Core Html ------------------- */

html {
    min-height: 100%;
}

body {
    background-color: slategrey;   
}

.container {
    width: 1000px;
}


/* ------------------- Calculator ------------------- */
.main-content > h1 {
    text-align: center;
    margin: 10px 0 0 0;
    font-family: 'Rubik', sans-serif;
}

.wrapper div {
    width: 65%;
    padding: 3px;
}

button {
    width: 100%;
    padding: 15px;
    margin: 3px;
}

.calculator-display{
    text-align: center;
    padding: 3%;

}

.calculator-btn {
    position: absolute;
    margin-top: 20px;
}

input[type='text']{
    padding: 20px;
    height: 50px;
    width: 55%;
    font-size: 2em;
}

.special-messages{
    position:relative;
    text-align: center;
    margin: 0 auto;
    bottom: 10px;
}

 